!!! XML
!!!
%html
  %head
    %meta{ :content => "text/html", :charset => "utf-8" }
    %title ATND & Zusaar検索
  %body
    -# main
    %h1 ATND & Zusaar検索
    %h2 検索結果

    -# 検索結果
    %h4 ATND
    %ul
      - @atnd_events.each do |event|
        %li= event

    %h4 Zusaar
    %ul
      - @zusaar_events.each do |event|
        %li= event
